.navbar-content {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #ddd;
  background-color: #ffcc99;
  margin-right: 30px; /* Add space to the right */
}

.user-section {
  display: flex;
  align-items: center;
  border: solid black;
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}

i {
  border: solid black;
}

.popout {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px; /* Ensure the popout has enough width to display information */
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
  border-radius: 4px;
  display: block; /* Make the button full width */
  margin-top: 10px; /* Add some space between the info and button */
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #f44336;
  color: #fff;
  border-radius: 4px;
}

button:hover {
  background-color: #d32f2f;
}
