.project-container {
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
}

.resources-list,
.selected-resources-list {
  width: 50%;
  padding: 20px;
  border: 1px solid #ddd;
  overflow-y: auto; /* in case the list gets too long */
}

.resources-list h3,
.selected-resources-list h3 {
  margin-top: 0;
}

.resource-item,
.selected-resource-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.resource-item:last-child,
.selected-resource-item:last-child {
  margin-bottom: 0;
}
